{%- comment -%}
  Register Form

  Accepts
  - form_id: Form id
{%- endcomment -%}

<div id="{{ form_id }}" class="auth-form">
  {% form 'create_customer' %}
    {{ form.errors | default_errors }}

    <input type="text"
      class="form-input"
      name="customer[first_name]"
      id="FirstName"
      placeholder="{{ 'customer.first_name' | t }}*"
      autofocus
      {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

    <input type="text"
      class="form-input"
      name="customer[last_name]"
      id="LastName"
      placeholder="{{ 'customer.last_name' | t }}*"
      {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

    <input type="email"
      name="customer[email]"
      id="Email"
      class="form-input {% if form.errors contains 'email' %}input-error{% endif %}"
      placeholder="{{ 'customer.email' | t }}*"
      value="{% if form.email %}{{ form.email }}{% endif %}"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off">

    <input type="password"
      name="customer[password]"
      id="CreatePassword"
      class="form-input {% if form.errors contains 'password' %}input-error{% endif %}"
      placeholder="{{ 'customer.password' | t }}*">

    <div class="optin">
      {% include 'checkbox' with name: "customer[accepts_marketing]" %}
      <span class="body3">I want to receive emails</span>
    </div>
    <input type="submit" class="btn large" value="{{ 'customer.create_account' | t }}">
    <a class="body3 toggle" href="/account/login">{{ 'customer.have_account' | t }}</a>
  {% endform %}
</div>