<div class="sidebar sidebar-cart" id="sidebar-cart">
  <span class="sidebar-close">&times;</span>
  <div class="sidebar-header">
    <h3>My Cart ({{ cart.item_count }})</h3>
  </div>
  <div class="sidebar-content">
    <div class="cart-content">
      {% for item in cart.items %}
        <div class="cart-item">
          {{ item.image | img_url: '100x100' | img_tag }}
          <div class="cart-item-content">
            {{ item.title }}
          </div>
          <button
            class="cart-decrement"
            data-id="{{ item.id }}"
            data-quantity="{{ item.quantity }}">Lower</button>
          <button
            class="cart-increment"
            data-id="{{ item.id }}"
            data-quantity="{{ item.quantity }}">Higher</button>
          <button class="cart-remove" data-id="{{ item.id }}">Remove</button>
        </div>
      {% endfor %}
      <div class="subtotal">
      </div>
    </div>
    <div class="cart-actions">
      <div class="disclaimer">
        Complimentary shipping on all orders
      </div>
      <button class="btn large outline">Keep Shopping</button>
      <button class="btn large">Checkout</button>
      <div class="disclaimer">
        By checking out, I agree to the Terms of Use
      </div>
    </div>
  </div>
</div>