<footer id="footer" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="footer-content">
    <div class="footer-links desktop">
      {%- assign footer_list = section.settings.footer_list -%}
      {% if linklists[footer_list].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_list].links %}
            <li><a class="body2" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="footer-subscribe">
      <h3>Sign up to our newsletter!</h3>
      <form class="subscribe-input" id="footer-subscribe">
        <input name="email" class="body1 blank white" placeholder="Enter your email here">
        <div class="subscribe-button">
          <input class="img" type="image" name="submit" src="{{ 'arrow_white.png' | asset_url }}">
        </div>
      </form>
      <div class="footer-subscribe-error" id="footer-subscribe-error">&nbsp;</div>
      <div class="body3 desktop">© 2019 TRULY. All rights reserved.</div>
    </div>
    <div class="footer-follow">
      <div class="footer-follow-content">
        <div class="body2 column-header">
          Connect with us
        </div>
        <div class="social-icons">
          <a class="social-icon" href="https://www.facebook.com/thetrulystore">
            <img src="{{ 'facebook_white.png' | asset_url}}">
          </a>
          <a class="social-icon" href="https://open.spotify.com/user/bceb75e93cao5ixduz997nrcv?si=q1-R67atTse8TTB24324GA">
            <img src="{{ 'spotify_white.png' | asset_url}}">
          </a>
          {% comment %} <a class="social-icon" href="">
            <img src="{{ 'youtube_white.png' | asset_url}}">
          </a> {% endcomment %}
          <a class="social-icon" href="https://www.instagram.com/trulyofficial/">
            <img src="{{ 'instagram_white.png' | asset_url}}">
          </a>
        </div>
      </div>
    </div>
    <div class="footer-links mobile">
      {%- assign footer_list = section.settings.footer_list -%}
      {% if linklists[footer_list].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_list].links %}
            <li><a class="body2" href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="mobile mobile-legal">
      <img src="{{ 'logo_white.png' | asset_url }}">
      <div class="body3">© 2018 TRULY. All Rights Reserved.</div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "class": "footer-container",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_list",
        "label": "Footer Link List"
      }
    ]
  }
{% endschema %}