<section data-section-id="{{ section.id }}" data-section-type="header" class="header-container" id="header-container">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="announcement-bar">
      <div class="announcement-bar-content">
        <div class="callout regular desktop">
          {{ section.settings.announcement_bar_text }}
        </div>
        <a  href="{{ section.settings.announcement_bar_link }}" class="callout regular mobile no-underline">
          {{ section.settings.announcement_bar_text_mobile }}
        </a>
        {%- if section.settings.announcement_bar_link -%}
          <a class="desktop" href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_link_text }}
          </a>
        {%- endif -%}
      </div>
    </div>  
  {%- endif -%}
  <header role="banner" class="header">
    <div class="header-content">
      <div class="action mobile">
        <div class="menu-icon" id="header-menu-btn"><div></div></div>
      </div>
      <h1>
        <div class="desktop">
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <a href="/">
            <img class="logo"
              src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
          </a>
        </div>
        <div class="mobile">
          {% capture image_size_mobile %}{{ section.settings.logo_max_width_mobile }}x{% endcapture %}
          <a href="/">
            <img class="logo"
              src="{{ section.settings.logo | img_url: image_size_mobile }}"
              srcset="{{ section.settings.logo | img_url: image_size_mobile }} 1x, {{ section.settings.logo | img_url: image_size_mobile, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
          </a>
        </div>
      </h1>
      <div class="action user-actions">
        {% comment %} {% include 'icon-button' with
          icon: 'search',
          button_id: 'header-search'
        %} {% endcomment %}
        <div class="cart-icon">
          {% include 'icon-button' with
            icon: 'bag',
            button_id: 'header-cart'
          %}
          {% if cart.item_count > 0 %}
            <span class="cart-amount">
              {% if cart.item_count > 9 %}
                9+
              {% else %}
                {{ cart.item_count }}
              {% endif %}
            </span>
          {% endif %}
        </div>
        <div class="desktop">
          {% if customer %}
            {% include 'icon-button' with
              icon: 'account',
              button_id: 'header-account',
              redirect_link: '/account'
            %}
          {% else %}
            {% include 'icon-button' with
              icon: 'account',
              button_id: 'header-account',
              redirect_link: '/account/login'
            %}
          {% endif %}
        </div>
      </div>
    </div>
  </header>
</section>
<div id="header-placeholder"></div>
<div class="menu-overlay" id="menu-overlay"></div>
{% include 'menu-cart' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": false
      },
      {
        "type": "richtext",
        "id": "announcement_bar_text",
        "label": "Announcement bar text",
        "default": "<p><b>10% off</b> your first order with code <b>welcome</b></p>"
      },
      {
        "type": "richtext",
        "id": "announcement_bar_text_mobile",
        "label": "Mobile - Announcement bar text",
        "default": "<p><b>10% off first order with code 'WELCOME'</b></p>"
      },
      {
        "type": "text",
        "id": "announcement_bar_link_text",
        "label": "Announcement bar link text",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement bar link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 140
      },
      {
        "type": "range",
        "id": "logo_max_width_mobile",
        "min": 50,
        "max": 150,
        "step": 10,
        "unit": "px",
        "label": "Mobile - Custom logo width",
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
