<section data-section-id="{{ section.id }}" data-section-type="header" class="header-container" id="header-container">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="announcement-bar">
      <div class="announcement-bar-content">
        <div class="callout semibold tablet-up">
          {{ section.settings.announcement_bar_text }}
        </div>
        {% if section.settings.announcement_bar_link %}
          <a href="{{ section.settings.announcement_bar_link }}" class="callout semibold phone no-underline">
            {{ section.settings.announcement_bar_text_mobile }}
          </a>
          <a class="tablet-up" href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_link_text }}
          </a>
        {% else %}
          <div class="body2 regular phone">
            {{ section.settings.announcement_bar_text_mobile }}
          </div>
        {% endif %}
      </div>
    </div>  
  {%- endif -%}
  <header role="banner" class="header">
    <div class="header-content">
      <div class="action mobile">
        <div class="menu-icon" id="header-menu-btn"><div></div></div>
      </div>
      <h1>
        <div class="tablet-up">
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <a href="/">
            <img class="logo"
              style="width: {{ section.settings.logo_max_width }}px"
              src="{{ section.settings.logo | img_url: '300x300' }}"
              srcset="{{ section.settings.logo | img_url: '300x300' }} 1x, {{ section.settings.logo | img_url: '300x300', scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
          </a>
        </div>
        <div class="phone">
          {% capture image_size_mobile %}{{ section.settings.logo_max_width_mobile }}x{% endcapture %}
          <a href="/">
            <img class="logo"
              style="width: {{ section.settings.logo_max_width_mobile }}px"
              src="{{ section.settings.logo | img_url: '300x300' }}"
              srcset="{{ section.settings.logo | img_url: '300x300' }} 1x, {{ section.settings.logo | img_url: '300x300', scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
          </a>
        </div>
      </h1>
      <div class="action user-actions">
        <div class="cart-icon phone">
          {% include 'icon-button' with
            icon: 'bag',
            button_id: 'header-cart-mobile'
          %}
          {% if cart.item_count > 0 %}
            <span class="cart-amount">
              {% if cart.item_count > 9 %}
                9+
              {% else %}
                {{ cart.item_count }}
              {% endif %}
            </span>
          {% endif %}
        </div>
        <div class="tablet-up">
          {% if customer %}
            <a href="/account" class="body2 grey no-underline" id="header-account">
              {{ 'navigation.my_account' | t }}
            </a>
          {% else %}
            <a href="/account/login" class="body2 grey no-underline" id="header-account">
              {{ 'navigation.sign_in' | t }}
            </a>
          {% endif %}
          <div class="tablet-up body2 grey" id="header-cart">
            {{ 'navigation.my_bag' | t }}&nbsp;<span class="black">({{ cart.item_count }})</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
<div id="header-placeholder"></div>
<div class="menu-overlay" id="menu-overlay"></div>
{% include 'menu-cart' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": false
      },
      {
        "type": "richtext",
        "id": "announcement_bar_text",
        "label": "Announcement bar text",
        "default": "<p><b>10% off</b> your first order with code <b>welcome</b></p>"
      },
      {
        "type": "richtext",
        "id": "announcement_bar_text_mobile",
        "label": "Mobile - Announcement bar text",
        "default": "<p>Complimentary Shipping on all orders over $100</p>"
      },
      {
        "type": "text",
        "id": "announcement_bar_link_text",
        "label": "Announcement bar link text",
        "info": "Optional"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement bar link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 140
      },
      {
        "type": "range",
        "id": "logo_max_width_mobile",
        "min": 50,
        "max": 150,
        "step": 10,
        "unit": "px",
        "label": "Mobile - Custom logo width",
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
