{%- assign collection = collections[section.settings.collection] -%}
<section class="main-collection-grid tablet-up">
  <div class="left">
    <div class="ratio-image r4x3">
      <a href="{{ collection.url }}">
        <img
          src="{{ section.settings.main_collection_grid_vertical_img1 | img_url: '500x500' }}"
          alt="{{ section.settings.main_collection_grid_vertical_img1.alt | default: shop.name }}">
      </a>
    </div>
    <div class="ratio-box r5x7">
      <a class="no-underline" href="{{ collection.url }}">
        <div class="ratio-box-content quote-box">
          <div class="quote-box-content">
            <img class="star" src="{{ 'star_black.png' | asset_url }}">
            <h3>{{ section.settings.main_collection_grid_title }}</h3>
            <div class="body3 grey">{{ section.settings.main_collection_grid_subtext }}</div>
            <a class="no-underline callout view-collection" href="{{ collection.url }}">View Collection</a>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="right">
    <div class="ratio-image r5x7">
      <a href="{{ collection.url }}">
        <img 
          src="{{ section.settings.main_collection_grid_vertical_img2 | img_url: '500x500' }}"
          alt="{{ section.settings.main_collection_grid_vertical_img2.alt | default: shop.name }}">
      </a>
    </div>
    <div class="ratio-image r4x3">
      <a href="{{ collection.url }}">
        <img 
          src="{{ section.settings.main_collection_grid_vertical_img2 | img_url: '500x500' }}"
          alt="{{ section.settings.main_collection_grid_vertical_img2.alt | default: shop.name }}">
      </a>
    </div>
  </div>
</section>
<section class="main-collection-grid phone">
  <div class="mobile-half">
    <div class="half">
      <div class="ratio-image r4x3">
        <a href="{{ collection.url }}">
          <img
            src="{{ section.settings.main_collection_grid_vertical_img1 | img_url: '500x500' }}"
            alt="{{ section.settings.main_collection_grid_vertical_img1.alt | default: shop.name }}">
        </a>
      </div>
    </div>
    <div class="half">
      <div class="ratio-image r4x3">
        <a href="{{ collection.url }}">
          <img
            src="{{ section.settings.main_collection_grid_vertical_img2 | img_url: '500x500' }}"
            alt="{{ section.settings.main_collection_grid_vertical_img2.alt | default: shop.name }}">
        </a>
      </div>
    </div>
  </div>
  <div class="ratio-box r5x7">
    <a class="no-underline" href="{{ collection.url }}">
      <div class="ratio-box-content quote-box">
        <div class="quote-box-content">
          <img class="star" src="{{ 'star_black.png' | asset_url }}">
          <h3>{{ section.settings.main_collection_grid_title }}</h3>
          <div class="body3 grey">{{ section.settings.main_collection_grid_subtext }}</div>
          <a class="no-underline callout view-collection">View Collection</a>
        </div>
      </div>
    </a>
  </div>
  <div class="ratio-image r5x7">
    <a href="{{ collection.url }}">
      <img 
        src="{{ section.settings.main_collection_grid_vertical_img2 | img_url: '500x500' }}"
        alt="{{ section.settings.main_collection_grid_vertical_img2.alt | default: shop.name }}">
    </a>
  </div>
</section>

{% schema %}
  {
    "name": "Main Collection Grid",
    "class": "full-width",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "main_collection_grid_vertical_img1",
        "label": "Vertical Image 1"
      },
      {
        "type": "image_picker",
        "id": "main_collection_grid_vertical_img2",
        "label": "Vertical Image 2"
      },
      {
        "type": "image_picker",
        "id": "main_collection_grid_horizontal_img1",
        "label": "Horizontal Image"
      },
      {
        "type": "text",
        "id": "main_collection_grid_title",
        "label": "Main Collection Grid Title"
      },
      {
        "type": "text",
        "id": "main_collection_grid_subtext",
        "label": "Main Collection Grid Subtext"
      }
    ],
    "presets": [
      {
        "name": "Main Collection Grid",
        "category": "Collection"
      }
    ]
  }
{% endschema %}