<section class="main-collection-grid">
  <div class="left">
    <div class="ratio-image r4x3">
      <img
        src="{{ section.settings.main_collection_grid_vertical_img1 | img_url: '500x500' }}"
        alt="{{ section.settings.main_collection_grid_vertical_img1.alt | default: shop.name }}">
    </div>
    <div class="ratio-box r5x7">
      <div class="ratio-box-content quote-box">
        <div class="quote-box-content">
          <h3>{{ section.settings.main_collection_grid_title }}</h3>
          <div class="body3 grey">{{ section.settings.main_collection_grid_subtext }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="ratio-image r5x7">
      <img 
        src="{{ section.settings.main_collection_grid_vertical_img2 | img_url: '500x500' }}"
        alt="{{ section.settings.main_collection_grid_vertical_img2.alt | default: shop.name }}">
    </div>
    <div class="ratio-image r4x3">
      <img 
        src="{{ section.settings.main_collection_grid_vertical_img2 | img_url: '500x500' }}"
        alt="{{ section.settings.main_collection_grid_vertical_img2.alt | default: shop.name }}">
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Main Collection Grid",
    "class": "full-width",
    "settings": [
      {
        "type": "image_picker",
        "id": "main_collection_grid_vertical_img1",
        "label": "Vertical Image 1"
      },
      {
        "type": "image_picker",
        "id": "main_collection_grid_vertical_img2",
        "label": "Vertical Image 2"
      },
      {
        "type": "image_picker",
        "id": "main_collection_grid_horizontal_img1",
        "label": "Horizontal Image"
      },
      {
        "type": "text",
        "id": "main_collection_grid_title",
        "label": "Main Collection Grid Title"
      },
      {
        "type": "text",
        "id": "main_collection_grid_subtext",
        "label": "Main Collection Grid Subtext"
      }
    ],
    "presets": [
      {
        "name": "Main Collection Grid",
        "category": "Collection"
      }
    ]
  }
{% endschema %}