<div class="product-container" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  {%- assign product_models = "" | split: "|" -%}
  {% assign product_models_fits = "" | split: "|" %}
  {% assign color_index = -1 %}

  {% comment %} Find Color and Size Index {% endcomment %}
  {% for option in product.options %}
    {% assign downcased_option = option | downcase %}
    {% if downcased_option contains 'color' %}
      {% assign color_index = forloop.index0 %}
    {% endif %}
  {% endfor %}

  {% for image in product.images %}
    {%- assign alt_values = image.alt | split: "|" -%}
    {% unless product_models contains alt_values[0] %}
      {% assign model_name = alt_values[0] | split: "|" %}
      {% assign model_fit = alt_values[3] | split: "|" %}
      {% unless alt_values[0] contains "Campaign" or alt_values[0] contains "Video" %}
        {% assign product_models = product_models | concat: model_name %}
        {% assign product_models_fits = product_models_fits | concat: model_fit %}
      {% endunless %}
    {% endunless %}
  {% endfor %}

  <div class="product" id="product-content" data-product-wrapper>
    <div class="product-images tablet-up">
      <div class="see-how-style" data-model="{{ product_models[0] }}">
        <div class="body3">{{ product_models_fits[0] }}</div>
        <button class="btn outline">See how {{ product_models[1] }} Wears it</button>
      </div>
      <div class="see-how-style" data-model="{{ product_models[1] }}">
        <div class="body3">{{ product_models_fits[1] }}</div>
        <button class="btn outline">See how {{ product_models[0] }} Wears it</button>
      </div>
      <div class="product-images-desktop">
        {% for image in product.images %}
          {% assign alt_values = image.alt | split: "|" %}
          {% assign image_model = alt_values[0] | strip %}
          {% assign alt_info = alt_values[2] | strip %}
          {% if image_model == "Video" %}
            <div class="ratio-box square video">
              <iframe
                class="ratio-box-content"
                src="{{ alt_info }}"
                frameborder="0"
                allow=autoplay
                width="600"
                height="300"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen></iframe>
            </div>
          {% else %}
            <div class="ratio-image square"
              data-model="{{ alt_values[0] }}"
              data-color="{{ alt_values[1] }}"
              data-product-image>
              <img src="{{ image | img_url: '900x900' }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="breadcrumb phone">
      <div class="body3 grey collections">Collections / {{ product.collections[0].description }} / {{ product.title }}</div>
      <div class="see-how-style" data-model="{{ product_models[0] }}">
        <div class="body2 phone">{{ product_models_fits[0] }}</div>
        <button class="btn outline">See how {{ product_models[1] }} Wears it</button>
      </div>
      <div class="see-how-style" data-model="{{ product_models[1] }}">
        <div class="body2 phone">{{ product_models_fits[1] }}</div>
        <button class="btn outline">See how {{ product_models[0] }} Wears it</button>
      </div>
    </div>
    <div class="product-images phone">
      {% assign all_colors = '' %}
      {% for variant in product.variants %}
        {% assign color = variant.options[color_index] %}
        {% assign color = color | strip %}

        {% comment %} For each color {% endcomment %}
        {% unless all_colors contains color %}
          {% assign all_colors = all_colors | join: ',' %}
          {% assign all_colors = all_colors | append: ',' | append: color %}
          {% assign all_colors = all_colors | split: ',' %}

          {% comment %} For each model {% endcomment %}
          {% for model in product_models %}
            {% assign model_name = model | strip %}
            <div class="product-image-slider"
              data-model="{{ model_name }}"
              data-color="{{ color }}"
              data-product-image-slider>
              {% for image in product.images %}
                {% assign alt_values = image.alt | split: "|" %}
                {% assign current_model = alt_values[0] | strip %}
                {% assign current_color = alt_values[1] | strip %}
                {% assign alt_info = alt_values[2] | strip %}
                {% if model_name == current_model and color == current_color %}
                  <img class="slider-image" src="{{ image | img_url: '900x900' }}">
                {% elsif current_model == "Video" %}
                  <div class="ratio-box square video" data-product-video>
                    <img class="ratio-box-content slider-image" src="{{ image | img_url: '900x900' }}">
                    <iframe
                      class="ratio-box-content mobile-product-video"
                      src="{{ alt_info }}"
                      frameborder="0"
                      allow=autoplay
                      width="600"
                      height="300"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen></iframe>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="product-details" id="product-details" data-product-details>
      <div class="sidebar__inner">
        <div class="callout">{{ product.vendor }}</div>
        <div class="body1 title">{{ product.title }}</div>
        <div class="body1 price">{{ product.price | money }}</div>
        <div class="divider tablet-up"></div>
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <div class="js">
            <div class="body3 select-label">{{ 'product.choose_color' | t }}</div>
            {% include 'color-swatch' %}
            <div class="divider tablet-up"></div>
            <div class="body3 select-label">{{ 'product.choose_size' | t }}</div>
            {% include 'size-swatch' %}
            <div class="divider tablet-up"></div>
          </div>
          <div class="no-js">
            <select name="id" class="no-js" data-product-select>
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="body3 select-label">{{ 'product.quantity' | t }}</div>
          <input class="quantity small" type="number" id="Quantity" name="quantity" value="1" min="1">
          <button
            class="btn large add-to-cart"
            type="submit"
            name="add"
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'product.add_to_cart' | t }}
                {% else %}
                  {{ 'product.sold_out' | t }}
                {% endif %}
              </span>
          </button>
        </form>

        <div class="size-guide-button">
          <img src="{{ 'ruler.png' | asset_url }}">
          <div class="body3 grey" data-size-guide-toggle>Size Guide</div>
        </div>
        <div class="callout">{{ 'product.details' | t }}</div>
        <div class="product-description body3 grey">{{ product.description }}</div>

        {% unless product == empty %}
          <script type="application/json" data-product-json>
            {{ product | json }}
          </script>
        {% endunless %}
        </div>
      </div>
    </div>
  </div>

  <div class="other-products">
    <h3>{{ 'product.other_items_from_collection' | t }}</h3>
    <div class="other-product-item-list">
      {% for item in product.collections[0].products %}
        {% unless item.id == product.id %}
          <a href="{{ item.url }}" class="ratio-image r4x3">
            <img src="{{ item.featured_image | img_url: '900x900' }}">
          </a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>

{% include 'size-guide' %}

{% schema %}
  {
    "class": "full-width",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
