<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://s3.us-east-2.amazonaws.com/thetrulystore/fonts/fonts_campton.css" rel="stylesheet" type="text/CSS">
  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {% include 'script-tags', layout: 'theme' %}
  {% include 'style-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body>
  {% section "header" %}
  <div class="content">
    {{ content_for_layout }}
  </div>
  {% section "footer" %}
</body>
</html>
 