<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://s3.us-east-2.amazonaws.com/thetrulystore/fonts/fonts_campton.css" rel="stylesheet" type="text/CSS">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%} 

  <title>TRULY</title>

  <meta name="description" content="">

  {% include 'script-tags', layout: 'theme' %}
  {% include 'style-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>
  {% section "header" %}
  {% section "menu-nav" %}
  <div class="content-container">
    <div class="content" id="theme-content">
      {% if
        template contains 'index' or
        template contains 'product' or
        template contains 'collection' or
        template contains 'page'
      %}
        {% section "sidebar-nav" %}
      {% elsif
        template contains 'customers/account' or
        template contains 'customers/addresses'
      %}
        {% section "sidebar-account-nav" %}
      {% endif %}
      <div class="full-width main-content">
        {{ content_for_layout }}
      </div>
    </div>
    {% if template contains 'index' %}
      {% section "our-values" %}
      {% section "featured-instagram" %}
    {% endif %}
  </div>
  {% include 'email-signup-popup' %}
  {% section "footer" %}
</body>
</html>
 